<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Appointments Count by Date</title>
</head>
<body>
    <h2>Appointments Schdeuled for Properties on {{ target_date }}</h2>
    <table border="1">
        <thead>
            <tr>
                <th>Property ID</th>
                <th>Property Location</th>
                <th>client name</th>
                <th>Appointment Date</th>
            </tr>
        </thead>
        <tbody>
            {% for prop_id, location,client_name, appointment_date in appointment_scheduled %}
            <tr>
                <td>{{ prop_id }}</td>
                <td>{{ location }}</td>
                <td>{{ appointment_date }}</td>
                <td>{{ client_name }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>

