<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title> Footer</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/footer_css.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <div class="wrapper">
        <div class="content1">
           
        </div>

    <footer>
      <div class="main-content">
        <div class="left box">
          <h2>About us</h2>
          <div class="content">
            <p>Dream-home is a full stack service provider for all real estate needs, with 15+ services including home loans, pay rent, packers and movers, legal assistance, property valuation, and expert advice.
        

            </p>
            <div class="social">
              <a href="https://facebook.com/"><span class="social-icon"><img src="https://th.bing.com/th/id/OIP.5Wm2l9foUpPcFI9dWplqdQHaG3?w=207&h=192&c=7&r=0&o=5&dpr=1.3&pid=1.7"></span></a>
              <a href="#"><span class="social-icon"><img src="https://th.bing.com/th/id/OIP.ViVafOJ679_fuZxZdIu38wHaHa?w=215&h=215&c=7&r=0&o=5&dpr=1.3&pid=1.7"></span></a>
              <a href="https://instagram.com/"><span class="social-icon"><img src="https://th.bing.com/th/id/OIP.t6zRekyINpA1BSMQ8ckITQHaHZ?w=195&h=194&c=7&r=0&o=5&dpr=1.3&pid=1.7"></span></a>
              <a href="https://youtube.com/"><span class="social-icon"><img src="https://th.bing.com/th/id/OIP.lZt9FvybpBvPFrmrZUDS_AHaHa?w=170&h=180&c=7&r=0&o=5&dpr=1.3&pid=1.7"></span></a>
            </div>
          </div>
        </div>

        <div class="center box">
          <h2 class="ad">Address</h2>  
          <div class="content">
            <div class="place">
              <span class="fas fa-map-marker-alt"></span>
              <span class="text">Rohini West , Delhi</span>
            </div>
            <div class="phone">
              <span class="fas fa-phone-alt"></span>
              <span class="text">+091-765432100</span>
            </div>
            <div class="email">
              <span class="fas fa-envelope"></span>
              <span class="text">yogi009@gmail.com.com</span>
            </div>
          </div>
        </div>

        <div class="right box">
          <h2>Contact us</h2>
          <div class="content">
            <form action="#">
              <div class="email">
                <div class="text">Email *</div>
                <input type="email" required>
              </div>
              <div class="msg">
                <div class="text">Message *</div>
                <textarea rows="2" cols="25" required></textarea>
              </div>
              <div class="btn">
                <button type="submit">Send</button>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="bottom">
        <center>
          <span class="credit">Created By <a href="#">Yogendra</a> | </span>
          <span class="far fa-copyright"></span><span> 2024 All rights reserved.</span>
        </center>
      </div>
      
    </footer>
    </div>
   
  </body>
</html>