<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Property Details</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="#properties">Properties</a></li>
                <li><a href="#testimonials">Testimonials</a></li>
                <li><a href="#contact">Contact</a></li>
                {% if 'user_id' in session %}
                <li><a href="/logout">Logout</a></li>
                {% else %}
                <li><a href="/client_login">Login</a></li>
                {% endif %}
                <li><a href="/sell_property">Sell Your Property</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section id="property-details">
            <h2>Property Details</h2>
            <h3>{{ property.owner_name }}</h3>
            <img src="{{ property.property_images }}" alt="Property Image">
            <p>Address: {{ property.address }}</p>
            <p>Property Size: {{ property.property_size }}</p>
            <p>Property Type: {{ property.property_type }}</p>
            <p>Price: {{ property.price }}</p>
            <!-- Add button for booking appointment -->
            <form method="POST" action="/schedule_appointment?id={{ property.id }}&owner_name={{ property.owner_name }}">
                <label for="appointment_date">Appointment Date:</label>
                <input type="date" id="appointment_date" name="appointment_date" required><br><br>
                
                <label for="appointment_time">Appointment Time:</label>
                <input type="time" id="appointment_time" name="appointment_time" required><br><br>
                
                <input type="submit" value="Schedule Appointment"><br><br>

            </form>
            <button id="bookPropertyBtn"><a href="{{ url_for('book_property', pid=property.id) }}">Book This Property</a></button>
        </section>
        
    </main>

    
    
</body>
</html>
